{% extends 'template.html' %}

{% block content %}

<div class="d-flex justify-content-end">
    <a href="/add_teammember" class="btn btn-primary" role="button">+</a>
</div>

<h2>Team Members</h2>

{% if teamMembers %}
    <p class="text-body-secondary">You have {{ teamMembers|length }} team members.</p>

    {% for member in teamMembers %}
        <a href="{% url 'teammember' member.id %}" style="text-decoration: none; color: inherit;">
          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="https://img.freepik.com/premium-vector/user-profile-icon-flat-style-member-avatar-vector-illustration-isolated-background-human-permission-sign-business-concept_157943-15752.jpg" 
                    class="img-fluid rounded-start" 
                    alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <p class="card-text mt-3">{{ member.first_name }} {{ member.last_name }} {% if member.role == 'Admin'%} (admin) {% endif %}</p>
                  <p class="card-text text-body-secondary">{{ member.phone }}</p> 
                  <p class="card-text text-body-secondary">{{ member.email }}</p> 
                </div>
              </div>
            </div>
          </div>
        </a>
    {% endfor %}
{% else %}
    <p>No team members found.</p>
{% endif %}


{% endblock %}

