{% extends 'template.html' %}

{% block content %}

<h2>Edit Team Member</h2>

{% if member %}
    <p class="text-body-secondary">Edit contact info, location, and role.</p>
    <hr>
    <form method="post" action="{% url 'teammember' member.id%}">
        {% csrf_token %}
        <h5>Info</h5>
        <div class="mb-3">
            {{ form.first_name}}
        </div>
        <div class="mb-3">
            {{ form.last_name}}
        </div>
        <div class="mb-3">
            {{ form.email }}
        </div>
        <div class="mb-3">
            {{ form.phone }}
        </div>

        <h5>Role</h5>

        {% for choice in form.role %}

            <div class="form-check">
                <label class="form-check-label" for="{{ choice.id_for_label }}">
                    {{ choice.choice_label }}
                </label>
                {{ choice.tag }}
            </div>
            <hr>
        {% endfor %}

        <div class="d-flex justify-content-between">
            <a type="submit" href="{% url 'delete_team_member' member.id %}" class="btn btn-danger">Delete</a>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>


{% else %}
    <p>No team member found.</p>
{% endif %}


{% endblock %}

